#### Plain text but big or sensitive

*.csv
*.json
*.xmi
*.RRF

#### Binaries

*.pdf
*.xlsx
*.exe
*.zip
*.pkl
*.xls
*.joblib
*.bundle
*.docx
for-sidm-gitignore/

#### Residues of various apps

.coverage
.DS_Store
*~
.ipynb_checkpoints/
.idea/
__pycache__/

#### LaTeX intermediates

*.aux
*.log
*.out
*.toc

#### Specific outputs

trigger-flow.png
flow-diagram.png
flow-colors-sparser.png
flow-colors-sparserLR.png
	
#### Don't exclude certain plain text

!short-list-drug-classes.csv
!icd*.csv
!tidy-icd9-stroke-risk.csv
!tidy-icd10-stroke-risk.csv
!neuro-exam-components-substrings.csv
